[NetDev]
Name=storage
Kind=wireguard
Description=WireGuard to storage server

[WireGuard]
ListenPort=51871
PrivateKey={privkey_for_archlinux_to_storage}

[WireGuardPeer]
PublicKey={storage_public_key}
PresharedKey={storage_shared_key}
AllowedIPs=10.0.2.2/32
Endpoint=storage.hvornum.se:51902
